textarea{
    display: block;
    margin-bottom: 20px;
    margin-left: 1rem;
}


button{
    margin-bottom: 20px;
}


#output{
    border: 1px solid black;
    height: 50px;

    width: 500px;
    padding: 1rem;
    margin: 1rem;
}